/*--------------------------------------------------------- 
# Couleurs
---------------------------------------------------------*/ 
:root {
    --jaune-pale: #f7d154;      /* Jaune pâle */
    --jaune: #ffcc00;           /* Jaune */
    --orange: #ff6f61;          /* Orange */
    --bleu-fonce: #2a2d3e;      /* Bleu foncé */
    --bleu-pale: #6d87a3;       /* Bleu pâle */
  }
  
/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #f6c800; /* Yellow */
    font-size: 7rem;
}

p {
    color: #f6c800; /* Yellow */
}

#titre {
    position: absolute;
    top: 10px; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
}

/* Header Styles */
header {
    height: 100vh;
    display: flex;
    background-image: url('/img/img_arriere_plan/bgd_drop.png');
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.scroll-button {
    margin-bottom: 20px; /* Adjust this value as needed */
}

/* Call-to-Action Styles */
.scroll-icon img {
    width: 5px; /* Adjust the width to make the arrow smaller */
    height: 5px; /* Maintain aspect ratio */
    margin-bottom: 10px;
}

#cta-icon img {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Main Section Styles */
section {
    height: 100vh; /* Set each section to take up the entire viewport height */
    padding: 20px; /* Add some padding for spacing */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; /* Position relative pour les éléments enfants positionnés en absolu */
}

.sable {
    position: absolute;
    z-index: 1;
    height: 100%;
    height: 100vh;
    object-fit: cover;
}

.ciel {
    position: absolute;
    z-index: 1;
    height: 100%;
    height: 100vh;
    object-fit: cover;
}

.montagne {
    position: absolute;
    z-index: 3;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: #ff6361; /* Red */
    color: #fff; /* White */
    padding: 50px;
    text-align: center;
}
